@import 'tailwindcss';

#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

@keyframes pulse-subtle {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}

@utility star {
  @apply absolute rounded-full bg-white;
  box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
}

.gradient-text {
  @apply font-bold bg-gradient-to-r from-indigo-500 to-fuchsia-500 text-transparent bg-clip-text;
}

.gradient-button {
  @apply rounded-full bg-gradient-to-r from-indigo-600 to-fuchsia-600 shadow-lg transition transform hover:scale-105 active:scale-95;
}
